*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%; 
}
img{
    margin-bottom: 20px;
}
h2{
    margin-bottom: 20px;
}
p{
    margin-bottom: 10px;
    text-align:left;
    line-height: 1.7;

}
.card {
    width: 33.33%;
    float: left; 
    padding:30px;
    box-sizing: border-box; 
    color: white;
}

.sedans {
    background-color: #f28b22;
}

.suvs {
    background-color: #176d6a;
}

.luxury {
    background-color: #0f3d39;
}
.clearfix{
    clear: both;
}
.card p {
    margin: 15px 0;
}

.card button {
    background-color: white;
    color: black;
    border: none;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 19px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #ddd;
}
